
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link href="~/wwwroot/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/wwwroot/static/css/base.css" rel="stylesheet" />
    <title>中酷云</title>
</head>
<body>
    <div class="top-navbar">
        <div class="screen-center-block">
            <div class="pull-left">
                <div class='diy_area' area_id='header_navbar_left'>
                    <div class='diy_widget' path='common.admin.widgets/user_login_info' args=''>
                        <div class="user-login-info">

                            <div>
                                欢迎光临中酷云<a href="/common.user/user/login">登陆</a>
                                <a href="/common.user/user/reg">免费注册</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="nav pull-right">
                <div class='diy_area' area_id='header_navbar_right'>
                    <div class="nav pull-right">
                        <div args="" path="common.admin.widgets/enter_admin_panel" class="diy_widget">
                            <a href="/common.admin/admin/index">管理后台</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-logobar">
        <div class="screen-center-block">
            <div class='diy_area' area_id='header_logobar'>
                <div class='diy_widget' path='common.base.widgets/logo' args=''>
                    <div class="logo">
                        <a href="/">
                            <img alt="LOGO" src="~/wwwroot/static/images/logo.png" />
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="clearfix"></div>
            
           
        </div>
    </div>
    <div class="top-menubar">
        <div class="screen-center-block">
            <div class='diy_area' area_id='header_menubar'>
                <div class='diy_widget' path='widget/brands_nav' args=''>
                    <ul class="nav">
                        <li><a href="/brands">Brands</a></li>
                    </ul>
                </div><div class='diy_widget' path='widget/articles_nav' args=''>
                    <ul class="nav">
                        <li><a href="/articles">文章列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>





