<div class="page-container admin-page-container">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cubes"></i>
                <span class="caption-subject">我的应用</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tiles">

                <a href="/admin/admins" class="tile bg-blue-hoki" title="管理员管理">
                    <div class="tile-body"><i class="fa fa-user-secret"></i></div>
                    <div class="tile-object"><div class="name">管理员管理</div></div>
                </a>

                <a href="/admin/roles" class="tile bg-blue-hoki" title="角色管理">
                    <div class="tile-body"><i class="fa fa-legal"></i></div>
                    <div class="tile-object"><div class="name">角色管理</div></div>
                </a>

                <a href="/admin/user/index" class="tile bg-blue-hoki" title="用户管理">
                    <div class="tile-body"><i class="fa fa-user"></i></div>
                    <div class="tile-object"><div class="name">用户管理</div></div>
                </a>

                <a href="/admin/settings" class="tile bg-blue-hoki" title="设置">
                    <div class="tile-body"><i class="fa fa-wrench"></i></div>
                    <div class="tile-object"><div class="name">设置</div></div>
                </a>

                <a href="/admin/payment_apis" class="tile bg-yellow-gold" title="支付接口管理">
                    <div class="tile-body"><i class="fa fa fa-arrow-circle-o-down"></i></div>
                    <div class="tile-object"><div class="name">支付接口管理</div></div>
                </a>

                <a href="/admin/payment_transactions" class="tile bg-yellow-gold" title="支付交易记录">
                    <div class="tile-body"><i class="fa fa fa-download"></i></div>
                    <div class="tile-object"><div class="name">支付交易记录</div></div>
                </a>


                <a href="/admin/article/index" class="tile bg-purple-studio" title="文章模块">
                    <div class="tile-body"><i class="fa fa-archive "></i></div>
                    <div class="tile-object"><div class="name">文章管理</div></div>
                </a>

                <a href="/CMS.Article/article/adminadd" class="tile bg-purple-studio" title="文章添加">
                    <div class="tile-body"><i class="fa fa-legal "></i></div>
                    <div class="tile-object"><div class="name">文章添加</div></div>
                </a>
            </div>
        </div>
    </div><!--portlet-->
</div>