﻿@using ZKCloud.Web.Mvc
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>中酷云 后台管理员登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <link href="~/wwwroot/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/wwwroot/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wwwroot/static/css/css.css" rel="stylesheet" />
    <link href="@Url.AppCssContent("admin.css","Common.Admin")" rel="stylesheet" />
    <link href="~/wwwroot/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class="page-top admin-page-top">
        <div class="page-header navbar navbar-static-top">
            <div class="page-header-inner">
                <div class="page-logo">
                    <a href="/admin/index">
                        <img src="@Url.AppImageContent("logo.png","Common.Admin")" alt="logo" class="logo-default">
                    </a>
                </div>
                <div class="header-navigation pull-left font-transform-inherit">
                    <ul>
                        <li class="dropdown"><a class="dropdown-toggle" href="/admin/index">应用</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" href="/admin_diy/index" target="_blank">DIY</a></li>
                    </ul>
                </div>
                <div class="page-top">
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile">
                                        admin
                                    </span>
                                    <img class="img-rounded" alt="" src="@Url.AppImageContent("default-avatar.jpg","Common.Admin")">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li><a href="/" target="_blank"> <i class="fa fa-home"></i>网站首页</a></li>
                                    <li><a href="/admin/about_me" target=""><i class="fa fa-user"></i>关于我</a></li>
                                    <li><a href="/admin/about_website" target=""><i class="fa fa-cubes"></i>关于网站</a></li>
                                    <li><a post-href="/api/clear_cache" ajax="true"><i class="fa fa-paint-brush"></i>清理缓存</a></li>
                                    <li><a post-href="/admin/logout"><i class="fa fa-power-off "></i>退出登陆</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
