@Html.Partial("~/apps/common.admin/template/widget/head")


<div class="screen-center-block">
    @Html.Partial("adminAddForm")
</div>



@Html.Partial("~/apps/common.admin/template/widget/footer")


