@Html.Partial("~/apps/common.base/template/widget/head");
<div class="screen-center-block">
    <h3>怎样编辑这个页面</h3>
    <h3>使用插件:</h3>
    <h4>复制Common.Base/templates/common.base/index.html到你的插件/templates/common.base/index.html然后编辑</h4>
    <h3>使用Diy:</h3>
    <h4>Diy功能尚未完成</h4>
</div>
@Html.Partial("~/apps/common.base/template/widget/footer");
